{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Connexion</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required>

            <label for="password">Votre Mot de passe:</label>
            <input type="password" id="password" class="form-control" name="_password" required>


            <input type="hidden" name="_target_path" value="{{ path('app_account') }}">

            <button type="submit" class="btn btn-success my-3">Me connecter</button>
        </form>

        Vous n'avez pas un compte ? <a href="{{ path('app_register') }}">S'inscrire</a>
    </div>
{% endblock %}
